[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/mongodb"]
	path = cookbooks/mongodb
	url = git://github.com/avaranovich/chef-mongodb.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = git://github.com/opscode-cookbooks/yum.git
[submodule "cookbooks/tomcat"]
	path = cookbooks/tomcat
	url = git://github.com/opscode-cookbooks/tomcat.git
